# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Misc
*.log
ton_txs.json
